@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}
.login-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.login-header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.company-heading {
    font-family: 'Arial', sans-serif;
    font-size: 46px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 60px 0;
}