.App {
  text-align: center;
  padding-bottom: 20px;
}
body{
  margin: 0;
  padding: 0;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
  background: #dfdfdf;
}